* {
    --cor-principal: #2a3885;
    --cor-secundaria: #fcd206;
}

.homeLoginCadastro {
    background-image: url("../Img/Nakata/noticia1.jpg");
    justify-content: right;
}

.formulario {
    margin-top: 70px;
    margin-right: 115px;
    height: 84%;
}

.botao {
    height: 9%;
}

.botao:hover {
    background-color: rgba(252, 210, 6, 70%);
}