/*GERAL*/

@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&family=Roboto:ital,wght@0,400;0,500;0,900;1,400&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}

body {
    background-color: #FEB42F;
    overflow-x: hidden;
}

a {
    color: #FEB42F;
    text-decoration: none;
}

/*HEADER*/

header {
    position: absolute;
    width: 100%;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header li {
    margin: 25px;
    font-weight: 500;
}

.capa {
    height: 100%;
    background-color: rgba(0, 0, 0, 35%);
}

.containerHeader {
    color: #FEB42F;
    width: 95%;
    height: 85%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "Kolker Brush", serif;
    width: 2.6vw;
    font-size: 50pt;
    border-bottom: 3px solid #FEB42F;
    margin-left: 30px;
}

.agora {
    background-color: #FEB42F;
    color: #731E25;
    border-radius: 20px;
    padding: 7px;
}

/*FOOTER*/

footer {
    width: 100%;
    background-color: #731E25;
    height: 25vh;
}

.containerFooter {
    /* font-family: "roboto", sans-serif; */
    color: #FEB42F;
    width: 95%;
    height: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.divAreaSite {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer ul {
    font-size: 9pt;
    margin-top: 10px;
    list-style: none;
    padding: 0;
}

footer li {
    padding: 1px;
}

.iconesMidiaNakata {
    display: flex;
    justify-content: center;
}

.iconeFooter {
    width: 40px;
    margin: 0px 6px
}