@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
    margin: 0;
    box-sizing: border-box;
    /* O QUE É ISSO??? A forma que o height e width são calculados. BORDER-BOX: contando padding e margin; CONTENT-BOX: sem contar padding e margin*/
    font-family: "Cormorant Garamond", serif;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #700707;
}


h1,
h2 {
    text-align: center;
    color: #830C0C;
    margin-bottom: 15px;
}

h1 {
    font-size: 30pt;
    margin-top: 20px;
    color: #FFF;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/*HEADER*/

header {
    padding: 20px 0;
    color: #FFF;
    background-color: rgb(0, 0, 0, 50%);
    width: 100%;
    border-bottom: 2px solid #FFF;
    position: fixed;
}

#header.scrollHide {
    opacity: 0;
}

.container {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.titulo {
    margin-left: 35px;
    font-size: 27pt;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

li {
    margin: 10px;
    font-weight: 700;
}

/*HOME*/

.home {
    height: 87vh;
    background-image: url("../Img/nakata-1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flutua {
    background-color: rgb(255, 255, 255, 75%);
    border: 2px solid #830C0C;
    border-radius: 5px;
    width: 35%;
    margin-top: 40px;
    padding: 15px 30px 30px 30px;
    text-align: justify;
    font-size: 16pt;
}



/*NOTICIAS*/
.noticia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    /* background-image: url("../Img/noticia1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}

.tituloNoticia {
    display: flex;
    justify-content: center;
    height: min-content;
    margin-bottom: 50px;
    text-shadow: 3px 2px #000;
}

.icone {
    height: 70px;
    margin-right: 15px;
    margin-top: 10px;
}

.containerNoticia {
    display: flex;
    justify-content: center;
    align-items: top;
}

.flutuaNoticia {
    width: min-content;
    height: 300px;
    margin: 20px 50px;
    padding: 15px 15px 20px 15px;
    background-color: #AAA;
    border-color: black;
    cursor: pointer;
}

.imgNoticia {
    width: 250px;
    margin-bottom: 3px;
}