.login {
    height: 100vh;
    width: 100vw;
    background-image: url("../Img/Nakata/noticia1.png");
    background-position: top;
    background-size: cover;
}

.divFormulario {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}