* {
    --cor-principal: #000;
    --cor-secundaria: #fff;
}

.capa {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 35%);
}

.homeLoginCadastro {
    background-image: url("../Img/Nakata/noticia1.png");
    justify-content: left;
}

.formulario {
    margin-top: 190px;
    margin-left: 75px;
    height: 45%;
}

.tituloForm {
    margin-top: 20px;
}

.botao {
    height: 15%;
}

.botao:hover {
    background-color: rgba(255, 255, 255, 70%);
}